@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/* =BUtton */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #121212;
}

#preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgb(0, 0, 0) url(../image/preloader_1.gif) no-repeat center center;
 
}

.btn {
  width: 175px;
  height: 50px;
  margin-top: 75px;
  border: 1px solid #eee;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
/* font-family: 'Merriweather', serif; */
/* font-family: 'Varela Round', sans-serif; */
/* font-family: 'Lato', sans-serif; */

  position: relative;
  z-index: 0;
  color: #fff;
  transition: 1s;
}



.btn::before, .btn::after {
  position: absolute;
  background: #121212;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 155px;
}

.btn::after {
  width: 175px;
  height: 30px;
}

@media(max-width:991px){
  .btn {
    width: 145px;
    height: 50px;
    margin-top: 35px;
    border: 1px solid #eee;
    font-size: 16px;}

    .btn::before {
      height: 50px;
      width: 115px;
    }
    
    .btn::after{
      width: 145px;
    }
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #121212;
}

.btn:hover::after {
  height: 0px;
  background: #121212;
}

.btn:hover {
  background: #121212;
}
.sitereg::before, .sitereg::after {
  position: absolute;
  background: #262228;}

.sitereg{
  background-color: #262228;
  margin-top: 10px;
}

.sitereg:hover::before {
  width: 0px;
  background: #262228;;
}

.sitereg:hover::after {
  height: 0px;
  background: #262228;;
}

.sitereg:hover {
  background: #262228;;
}

/* button ends */

.headlogo{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.headlogo img{
  height: 9vh;
}
@media(max-width:560px){
  .headlogo img{
    height: 7vh;
  }
}

#home {
    clip-path: url(#cache);
  }
  *{
    margin: 0;
    padding: 0;
  }
  .whole, .backgroud{
    width: 100%;
  }
  
  .whole{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #red {
    fill: none;
    opacity: 1;
    stroke: #292929;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
  }
  #blue {
    fill: none;
    opacity: 1;
    stroke: #5a5a5a;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: show 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  svg{
      width: 100%;
    
  }
  .whole{
      height: fit-content;
      width: 100%;
      background-color: #121212;
  }
.backgroud{
    width: 100%;
    height: fit-content;
}
  .form{
      position: absolute;
      top: 2%;
      display: flex;
      justify-content: center;
      align-items: center;   
      flex-direction: column; 
      /* left: 50%;
      margin-left: -20%; */
      width: 75%;
      /* height: 160vh; */
      border-radius: 10px;
      background-color: transparent;
  }

  @media(max-width:768px){
    .form{
      width: 90%;
  }
  }

  @media(max-width:425px){
    .form{
      width: 98%;
  }
  }
  
  #light-blue {
    fill: none;
    opacity: 1;
    stroke: #00738d85;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
      }
  
      .thbg{
        height: 10vh;
        width: 100%;
        overflow: hidden;
      }


  
      .secbg{
        height: 100%;
      }
  .secbg #light-blue{
    animation: drawsec 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }

  @keyframes drawsec {
    to {
      stroke-dashoffset: 0;
   }
      }
  
  @keyframes show {
    0% {
      opacity: 0.15;
   }
    50% {
      opacity: 0.2;
   }
    100% {
      opacity: 0.15;
   }
      }
  

      @media(min-width:2000px){
        .thbg{
          display: none;
        }

        .secbg{
          height: 40vh;
          width: 100%;
          overflow: hidden;
        }
      }

      @media(min-width:1742px){
        .thbg{
          display: none;
        }

        .secbg{
          height: 60vh;
          width: 100%;
          overflow: hidden;
        }
      }
      @media(max-width:1742px){
        .thbg{
          display: none;
        }

        .secbg{
          height: 80vh;
          width: 100%;
          overflow: hidden;
        }
      }

      @media(max-width:1500px){
        .thbg{
          display: none;
        }

        .secbg{
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }

      @media(max-width:991px){
        .thbg{
          display: block;
          height: 40vh;
        }

        .secbg{
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }

      @media(max-width:568px){
        .thbg{
          display: block;
          height: 100vh;
        }

        .secbg{
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      }
/* form */


  /* ---------------------------------------------------------------------contact form vp band: base jackers---------------------------------- */

  .contactheadtext{
    margin-top: 38px;
    color: #eee;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Merriweather', serif;;
    text-align: center;
  }

  @media(max-width:426px){
    .contactheadtext{
      width: 95%;
    font-size: 14px;}
  }
  .eigvp{
    width: 100%;
    min-height: 50vh;
    height: fit-content !important;
    padding-top: 30px;
    position: absolute;
    top: 30vh;
    left: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Merriweather', serif; */
    padding-bottom: 20px;
 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0px 0px 10px #00000060; */
 
 
  }

  @media(max-width:791px){
    .eigvp{
      top: 15em;
    }
  }

  @media(max-width:669px){
    .eigvp{
      top: 17em;
    }
  }

  @media(max-width:523px){
    .eigvp{
      top: 19em;
    }
  }
  .contactbox{
    width: 100%;
    z-index: 20

  }
 
  @media (max-width:998px){
    .contactbox{
      width: 100%;
      padding-top: 20px;
    }
  }
  @media (max-width:600px){
    .contactbox{
      width: 100%;
      padding-top: 20px;
    }
  }
 
 
   
    .contactvphp{
      width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
    }
   
    .contactvphp .wrapper{
  height: fit-content;
  padding-bottom: 300px;
      width: 100%;
      padding: 0 20px;
    }
 
    .single-footer li:hover a{
        background-color: rgba(0, 141, 235, 0.192);
       
 
    }
    .contact-form img{
        width: 27%;
        min-width: 50px;
        max-width: 350px;
    }
   
    .contactvphp .contact-form{
      display: flex;
      flex-direction: column;
       justify-content: center;
      align-items: center;      
      width: 100%;
      margin: 0 auto;
      border-radius: 0px;
  background: transparent;
  background: rgba(8, 8, 8, 0.493);
  z-index: 100 !important;
  /* box-shadow: 10px 10px 15px #00000011,
   -10px -10px 15px #ececec07; */
      padding: 30px;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      /* font-family: 'Merriweather', serif; */
     
     
    }

    @media(max-width:768px){
      .contactvphp .contact-form{
        display: flex;
        flex-direction: column;
         justify-content: center;
        align-items: center;      
        width: 100%;}
    }
    .infocontact{
     
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .buttoncontact{
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .dircall{
      display: flex;
      flex-direction: column;
      width: 75%;
      align-items: center;
      justify-content: center;
      color: #fff;
      line-height: 60px;
       border-right: 2px solid transparent ; 
      margin: 30px;
      /* font-family: 'Raleway', sans-serif; */
     
    }
 
    .dircall p a{
      text-decoration: none;
      color: #ffffff;
    }
    .contactvphp .input-fields{
      display: flex;
      flex-direction: column;
      margin-right: 4%;
      /* font-family: 'Raleway', sans-serif; */
      
    }
   
    .contactvphp .input-fields,
    .contactvphp .msg{
      width:80%;
    }
  .contactvphp .input-fields p{
   /* font-family: 'Raleway', sans-serif; */
   
  color: #fff;
  font-size: 18px;
}  
 .contactvphp .input-fields label{
   /* font-family: 'Raleway', sans-serif; */
   
  color: #fdfdfd;
  font-size: 14px;
}
.contactvphp .input-fields p{
  margin-bottom:10px;
}
    .contactvphp .input-fields .input,
    .contactvphp .msg textarea{
      font-family: 'Lato', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Montserrat', sans-serif;
/* font-family: 'Merriweather', serif; */
      margin: 10px 0;
      background: transparent;
      border: 0px;
      border-bottom: 2px solid  #ffffff;
      padding: 10px;
      color: rgb(228, 228, 228);
      width: 100%;
    }
   
    .contactvphp .msg textarea{
      height: 212px;
    }
   
    ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }
    :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }
   
    .contactvphp .btn {
      border-radius: 0px;
      background: linear-gradient(225deg, #0b0b0b, #0e0e1f);
      /* box-shadow:  -5px 5px 0px #040404,
                   5px -5px 0px #101010; */
        text-align: center;
        padding: 15px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        transition: ease-in 0.2s;
    }
    .contactvphp .btn:hover{
        transform: scale(0.9);
    }
   
    @media (max-width: 768px){
      form{
        width: 95%;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contactbox{
        padding-top: 0;
      }
      .contact-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
       
      }
      .infocontact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .buttoncontact{
        justify-content: center;
        width: 100%;
        align-items: center;
      }
      .wrapper{
          height: 100vh;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100% !important;
      }
      .msg textarea{
        height: 80px;
 
      }


 
      .dircall{
        width: 100%;
        border-right: 0px solid transparent !important;
         border-bottom: 2px dashed transparent !important;
      }
     
      .input-fields,.msg
     {
        width: 100% !important;
        padding: 0px;
        margin: 0px;
        font-size: 10px;
      }
      .input-fields input
      {
         width: 80%;
         padding: 0px;
         margin: 0px;
       }

       input#Female, input#Male, input.genderpref, input.aian {
         width: 12.8px;
       }

       .contactvphp .input-fields p{
         font-size: 10.9px;
       }
       .contactvphp .input-fields label{
         font-size: 10px;
       }

       .contactvphp .contact-form{
         width: 100%;
       }
       #texthead h1{
         padding-top: 10vh;
         font-size: 25px !important;
         
       }
       .logocont img{
         padding-left: 30px;
         padding-top: 30px;
         width: 130px;
       }

    }
 
    .wrapper form{
     padding: 30px 0;
    }


    
  /* footer */
  .footeres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .socimg{
    margin-top:30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: fit-content;
    flex-direction: row;

  }

  .socimg img{
    height: 25px;
    transform: scale(1);
    transition: 0.5s ease;
  
  }

  .socimg img:hover{
    transform: scale(1.13);
    transition: 0.5s ease;
    filter: drop-shadow(0px 0px 15px rgb(1, 93, 212));
  }
  
  .footertext{
    color: #eee;
    margin: 30px 0px 20px 0px;
  }